#divLeft {
    background-color: #5CB6E7;
    position: relative;
   
    width: 50%;
    background-position: 35px,-30px;
	background-repeat: no-repeat;

}

#divRight {
    background-color: rgb(228, 220, 220);
    position: absolute;
    width: 50%;
    margin-left: 50%;
    top:0px;
	text-align: center;
}